@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: #E5E5E5;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--primary: #7653FC;
	--primary-hover: #532af5;
	--ghost-light: #EBEBEB;
	--silver: #EBEBEB;
	--white: #ffffff;
	--success: #1DC37E;
	--success-light: #C8F8E4;
	--orange: #FC836D;
}